layout: default.twig

events:
    - name: "KaunasPHP v.17"
      date: 2014-08-13 19:00
      facebook: https://www.facebook.com
      github: https://github.com/kaunasphp/kaunasphp-meetups
      speakers:
        - name: Beer
          title: Beer

    - name: "KaunasPHP v.16"
      date: 2014-07-09 19:00
      facebook: https://www.facebook.com
      github: https://github.com/kaunasphp/kaunasphp-meetups
      speakers:
        - name: Beer
          title: Beer

    - name: "KaunasPHP v.15 @ Goes BBQ"
      date: 2014-05-14 19:00
      facebook: https://www.facebook.com/events/284446038402946/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v14
      speakers:
        - name: Vaidas Mikalauskas
          title: Aspectmock

    - name: "KaunasPHP v.14"
      date: 2014-05-14 19:00
      facebook: https://www.facebook.com/events/284446038402946/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v14
      speakers:
        - name: Simonas Šerlinskas
          title: Praktinis užsiėmimas

    - name: "KaunasPHP v.13"
      date: 2014-04-09 19:00
      facebook: https://www.facebook.com/events/276363079192502/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v13
      speakers:
        - name: Aidas Klimas
          title: Introduction to AngularJS
        - name: Marijus Kilmanas, Software Engineer at Inviqa
          title: Behat: get it right

    - name: "KaunasPHP v.12"
      date: 2014-02-12 19:00
      facebook: https://www.facebook.com/events/214260245435879/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v12
      speakers:
        - name: Artūras Šlajus
          title: Concurrency and parallelism: what is it and how to deal with it
        - name: Linas Gricius
          title: Ansible pradedantiesiems

    - name: "KaunasPHP v.11"
      date: 2014-01-08 19:00
      facebook: https://www.facebook.com/events/202442799947722/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v11
      speakers:
        - name: Dominykas Blyžė
          title: TDD su buster.js
        - name: Gediminas Morkevičius
          title: Testing by example

    - name: "KaunasPHP v.10"
      date: 2014-01-08 19:00
      facebook: https://www.facebook.com/events/336654533141550/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v10
      speakers:
        - name: Simonas Šerlinskas
          title: Logas
        - name: Mažvydas Skuodas
          title: Jūsų nuolankusis tarnas: mažasis Jonas

    - name: "KaunasPHP v.9"
      date: 2013-12-18 19:00
      facebook: https://www.facebook.com/events/485432154902905/
      github: https://gist.github.com/wanis/8027500
      speakers:
        - name: Mažvydas Skuodas
          title: TDD praktiškai

    - name: "KaunasPHP v.8"
      date: 2013-11-20 19:00
      facebook: https://www.facebook.com/events/675732392451752/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v8
      speakers:
        - name: Mažvydas Skuodas
          title: (T|B|D|M|U)DD - Kam jie reikalingi?
        - name: Tautvilas Mečinskas
          title: Laravel4 vs. Symfony2

    - name: "KaunasPHP v.7"
      date: 2013-10-16 19:00
      facebook: https://www.facebook.com/events/599388230102897/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v7
      speakers:
        - name: Marijus Kilmanas ir Artūras Šmorgun
          title: Kas yra kokybė? Kodėl ji turi man rūpėti? Kaip jos pasiekti? Kaip ją išlaikyti?

    - name: "KaunasPHP v.6"
      date: 2013-09-18 19:00
      facebook: https://www.facebook.com/events/1377970999099507/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v6
      speakers:
        - name: Gediminas Morkevičius
          title: Being dangerous with GIT
        - name: Mažvydas Skuodas, Senior Software Engineer, Technologijų parkas
          title: Kaip valdyti debesį su Amazon AWS

    - name: "KaunasPHP v.5"
      date: 2013-08-21 19:00
      facebook: https://www.facebook.com/events/549066295159664/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v5
      speakers:
        - name: Marijus Kilmanas, Software Engineer at Inviqa
          title: Deliberate practice: Katas, Dojos and Senseis
        - name: Alfonsas Cirtautas, Senior Software Developer at Callcredit Information Group
          title: PHP 5.5 - Ar jau laikas?

    - name: "KaunasPHP v.4"
      date: 2013-06-26 19:00
      facebook: https://www.facebook.com/events/513333235377453/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v4
      speakers:
        - name: Kazimieras Butkus, Software Engineer, NFQ
          title: CSS/JS minimizavimas, CSS sprites
          url: http://www.linkedin.com/in/kazimierasbutkus
        - name: Simonas Šerlinskas, Software Engineer, NFQ
          title: Cloud infrastruktūra tavo kompiuteryje
          url: http://simonas.info/

    - name: "KaunasPHP v.3"
      date: 2013-04-10 19:00
      facebook: https://www.facebook.com/events/220686368072142/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v3
      speakers:
        - name: Aivaras Spaičys, Software Engineer, NFQ
          title: Doctrine ORM
          url: http://www.linkedin.com/pub/aivaras-spaicys/3b/a6a/319
        - name: Šarūnas Atkočiūnas, Freelancer Software Developer
          title: Intro to Symfony2 Forms
          url: http://lt.linkedin.com/pub/%C5%A1ar%C5%ABnas-atko%C4%8Di%C5%ABnas/50/a5a/3aa

    - name: "KaunasPHP v.2"
      date: 2013-02-27 19:00
      facebook: https://www.facebook.com/events/513333235377453/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v2
      speakers:
        - name: Mažvydas Skuodas, Senior Software Engineer, Technologijų parkas
          title: PHP šių dienų žodynėlis
          url: http://lt.linkedin.com/pub/ma%C5%BEvydas-skuodas/66/2b5/805
        - name: Darius Leskauskas, Web developer, Informacinių Technologijų Organizacija
          title: HTML5 mobile apps. Tips & tricks
          url: http://www.linkedin.com/pub/darius-leskauskas/47/418/a77

    - name: "KaunasPHP v.1"
      date: 2013-01-09 19:00
      facebook: https://www.facebook.com/events/531061440260951/
      github: https://github.com/kaunasphp/kaunasphp-meetups/tree/master/KaunasPHP.v1
      speakers:
        - name: Alfonsas Cirtautas - Software Developer, OXID eSales AG
          title: Composer - PHP įrankis trečių šalių bibliotekų ir priklausomybių valdymui.
          url: http://www.linkedin.com/pub/alfonsas-cirtautas/4b/45/1b4
        - name: Šarūnas Atkočiūnas - Co-owner and CTO, ITMC Consulting
          title: Greitas aplikacijų kūrimas su Silex, SF Components ir Twitter Bootstap
          url: http://www.linkedin.com/pub/%C5%A1ar%C5%ABnas-atko%C4%8Di%C5%ABnas/50/a5a/3aa
        - name: Dominykas Blyžė - Senior front-end engineer, Ammado
          title: Tai ką dabar darysime su node.js?..
          url: http://www.linkedin.com/in/dominykas

---

{% for key, event in this.events %}
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ key }}">
                    {{ event.name }} ({{ event.date }})
                </a>
            </h4>
        </div>
        <div id="collapse{{ key }}" class="panel-collapse collapse {% if key == 0 %}{{ 'in' }}{% endif %}">
            <div class="panel-body">
                <ul>
                    {% for speaker in event.speakers %}
                        <li>{{ speaker.title }}
                            <ul>
                                <li><a href="{{ speaker.url }}">{{ speaker.name }}</a></li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ event.facebook }}" target="_blank"><img src="media/img/facebook.png" /></a>
                <a href="{{ event.github }}" target="_blank"><img src="media/img/github-icon.jpg" /></a>
            </div>
        </div>
    </div>
{% endfor %}
